*{
    border-radius: 4px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(12,13,12);
    display: flex;
    height: 100svh;
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(238, 238, 238, 0.897);
    overflow: hidden;
}


#body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ab hier ist alles für die navigationsleisen*/

#nav-bar-container{
    position: fixed;
    left: 0px;
    height: 100svh;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    background:rgb(39,39,38);
    border-right: solid 1px rgb(68, 68, 68);
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.4s ease-in-out;
}

#nav-bar-header{
    display: grid;
}

#iserv-logo{
    width: 90px;
    padding-left: 20px;
    padding-top: 20px;
}

#nav-bar-überschrift{
    padding-top: 10px;
   color: rgb(133, 133, 133);
}

#profile-bild{
    width: 30px;
}

#account-details {
    color: white;
    background-color: rgb(29, 29, 29);
    width: 200px;
    max-height: 32px;
    min-height: 32px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px rgb(68, 68, 68);
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#account-details[open] {
    max-height: 225px;
    min-height: 225px;
}


#account-details summary{
    list-style: none;
}

#account-details summary span{
    position: relative;
    padding-left:5px;
    bottom: 8px;
    font-size: 15px;
}

#account-details a{
    color: white;
    text-decoration: none;
    padding: 8px;
    padding-left: 13px;
    display: flex;
    font-size: 13px;
}

#dropdown-pfeil-bild{
    position: relative;
    width:18px ;
    left: 10px;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

#account-details[open] summary #dropdown-pfeil-bild {
    transform: rotate(720deg);
}

#underline{
    position: relative;
    height: 3px;
    width: 115%;
    right: 15px;
    background-color:rgb(39,39,38);
}

#account-details a:hover{
    background-color: rgba(71, 71, 71, 0.589);
}

#account-details a span{
    padding-left: 8px;
}

#account-details a img{
    height: 20px;
}


#modul-suchfeld{
    width: 240px;
    height: 35px;
    min-height: 35px;
    padding-left: 10px;
    background-color:transparent;
    box-shadow: inset 0px 0px 2px;
    border:none;
}

#Schnellzugriff-überschrift{
    color: rgb(133, 133, 133);
    padding-right: 120px;
    font-size: 15px;
}

.link-container{
    width: 210px;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    display: flex;
    transition: 0.35s ease-in-out;
    text-decoration: none;
}

.link-container:hover{
    background-color: rgba(45, 161, 255, 0.158) ;
    transform: scale(115%);
    
}

.link-container span{
    padding-left: 20px;
    padding-top: 5px;
}

.link-container img{
    width: 35px;
}


#alle-module{
    width: 250px;
    max-height: 32px;
    min-height: 32px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#alle-module[open]{
    max-height: 1000px;
    min-height: 1000px;
}

#nav-bar-container::-webkit-scrollbar{
    width: 0;
    }

    #impressum-link{
        color: rgba(255, 255, 255, 0.616);
        text-decoration: none;
    }

/* Ab hier sind alle objekte die in der navbar top sind*/

#nav-bar-container-top{
width: 100svw;
height: 40px;
right: 0px;
background-color: rgb(0,28,51);
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 0;
}

#nav-bar-button{
    position: fixed;
    margin-left: 264px;
    background-color: transparent;
    border: solid 2px rgb(1,85,153);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    left: 0px;
    transition: left 0.4s ease-in-out;
}

#nav-bar-button img{
    height: 20px;
}

#startseiten-icon{
    position: fixed;
    left: 300px;
    margin-left: 10px;
    color: rgb(238, 238, 238);
    text-decoration: none;
    transition: left 0.4s ease-in-out;
}

#startseiten-icon img{
    height: 23px;
}

#startseiten-icon span{
    position: relative;
    bottom: 6px;
}


#hilfe-button{
    margin-left: auto;
    margin-right: 20px;
    padding: 6px;
    border: solid 2px  rgb(7, 120, 212) ;
    color: rgb(23, 199, 243);
    text-decoration: none;
    font-size: 12px;
}

/*hier endet die navigationsleisten*/




/* Ab hier ist der rest der auf der Startseite zu sehen ist*/

#start-seiten-haupt-container {
    display: flex;
    gap: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.075);
    width: calc(98svw - 265px); /* 100% abzüglich der Breite von #nav-bar-container */
    height: calc(100svh - 60px); /* 100% abzüglich der Höhe von #nav-bar-container-top */
    margin-top: 8svh; 
    margin-left: 270px; 
    transition: 0s ease-in-out;
    overflow-y: scroll;
}

#E-mail-und-news-container{
    width: 100%;
    height:82svh;
    transition: 0.4s ease-in-out;
    margin-bottom: 130px;
    }

    #E-mail-container{
        width: 99%;
        height: 15%;
        border: solid 1px rgb(1,84,152) ;
        overflow: hidden;
        }

        #E-mail-contaier-header{
            width: 100%;
            height: 25%;
            background-color:rgb(0,42,77);
            border-bottom: solid 1px rgb(1,84,152) ;
            border-radius: 0px;
            display: flex;
            align-items: center;
            color: rgba(238, 238, 238, 0.938);
        }
        
        #E-mail-überschrift img{
            width: 20px;
            margin-left: 10px;
        }
        
        #E-mail-überschrift span{
            position: relative;
            margin-left: 10px;
            bottom: 3px;
        }
        
        #E-mail-status-nachricht{
            display: flex;
            justify-content: center;
            padding: 5px;
            color: rgba(255, 255, 255, 0.952);
        }
        
        #E-mails-senden-und-empfangen-link{
            text-decoration: none;
           color:  #33a3ff;
           display: flex;
           align-items: center;
           justify-content: end;
           padding-right: 2%;
           padding-top: 35px;
        }
        
        #E-mails-senden-und-empfangen-link img{
            height: 15px;
        }


        #news-container{
            height: 98%;
            width: 99%;
            border: solid 1px  rgb(1,84,152);
            margin-top: 20px;
            overflow: hidden;
        }

         #news-container-header{
                width: 100%;
                height: 4%;
                background-color:rgb(0,42,77);
                border-bottom: solid 1px rgb(1,84,152) ;
                border-radius: 0px;
                display: flex;
                align-items: center;
                color: rgba(238, 238, 238, 0.938);
            }
            
            #news-überschrift{
                color: rgba(255, 255, 255, 0.918);
            }
            
            #news-überschrift img{
                width: 20px;
                margin-left: 10px;
            }
            
            #news-überschrift span{
                position: relative;
                margin-left: 10px;
                bottom: 3px;
            }
            
            
            #newsletter-status-nachricht{
                display: flex;
                justify-content: center;
                margin-top: 5px;
            }

#start-seiten-haupt-container::-webkit-scrollbar{
    width: 0px;
}

 /*ab hier beginnt der stundenplan*/ 
    
 #stundenplan-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 145vh;
    border: solid 1px  rgb(1,84,152) ;
}

#stundenplan-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4%;
    border-bottom: solid 1px  rgb(1,84,152);
    border-radius: 0px;
    background-color: rgb(0,42,77);
}

#stundenplan-header img{
    height: 30px;
    margin-left: 10px;
}

#stundenplan-header span{
    position: relative;
    margin-left: 10px;
    bottom: 7px;
}

#stundenplan {
    width: 95%;
}

.stundenplan-daten{
    padding: 7px;
}

#stundenplan-datum-container{
    white-space: nowrap;
    width: 100px;
    text-align: center;
}

#stundenplan-tag{
    white-space: nowrap;
}

#stundenplan th{
    border: solid 1px #3E6680;
    height: 7%;
    
}

#stundenplan tr{
    transition: 0.3s ease-in-out;
}
 #stundenplan tr:hover{
  transform: scale(104%);
  box-shadow: inset 0px 0px 100px rgba(75, 179, 253, 0.952),
              inset 0px 0px 100px rgba(38, 126, 189, 0.959),
              inset 0px 0px 100px rgba(0, 72, 124, 0.973),
              inset 0px 0px 100px rgba(62, 102, 128, 0.973),
              inset 0px 0px 100px rgba(33, 126, 192, 0.966),
              inset 0px 0px 100px rgba(4, 150, 255, 0.966),
              inset 0px 0px 100px rgba(2, 124, 206, 0.973);
 }

#stundenplan td{
    border: solid 1px #3E6680;
}

.stunden-uhr-zeit{
   padding-left: 4%;
   padding-right: 3%;
}

.stunde{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
}


/* hier endet der stundenplan */

/* ab hier fäng der klausuren container an */

#klausur-termine-container{
    margin-top: 25px;
    height: 10%;
    width: 95%;
    border: solid 1px rgb(36, 143, 185);
}

#klausur-termine-header{
    width: 100%;
    height: 25%;
    background-color:  rgb(0,42,77);
    align-items: center;
    display: flex;
}

#klausur-termine-header img{
    height: 40px;
    margin-left: 2%;
}

#klausur-termine-header span{
    margin-left: 2%;
}

#klausur-status-nachricht{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* ab hier ändet der klausuren container



/* ab hier begint der Termine container*/
#termine-container{
    width: 95%;
    height: 10%;
    border:  solid 1px rgb(36, 143, 185);
    margin-top: 20px;
}

#termine-container-header{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    background-color: rgb(0,42,77);
}

#termine-container-header img{
    height: 30px;
    margin-left: 2%;
}

#termine-container-header span{
    margin-left: 2%;
}

#termine-status-nachricht{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
}
/* ab hier ändet der Termine container*/



/* hier sind die anpassungen an verschidenne bildschirme*/

/*Mobile*/
@media screen and (max-width:767px) {

    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }

    #E-mail-und-news-container{
    width: 100%;
    }

    #stundenplan-container{
    width: 150%;
    }

    .stunden-uhr-zeit{
        padding-left: 1%;
        padding-right: 0%;
     
     }

     .stunde{
        min-height: 320px;
     }

    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #E-mails-senden-und-empfangen-link{
        padding-top: 0px;
    } 
}
@media screen and (min-width:767px) and (max-width:1044px) {
    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }

    #E-mail-und-news-container{
    width: 100%;
    }

    #stundenplan-container{
    width: 150%;
    }

    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #E-mails-senden-und-empfangen-link{
        padding-top: 0px;
    }  
}

/*Tablet*/
@media screen and (min-width:767px) and (max-width:1500px) {
    #E-mails-senden-und-empfangen-link{
        padding-top: 15px;
      } 

#stundenplan-container{
    height: 310vh;
}

      .stunden-uhr-zeit{
        padding-left: 1%;
        padding-right: 0%;
     
     }

     .stunde{
        min-height: 250px;
     }

}

/*Desktop*/
@media screen and (min-width:1824px) {
    
}

/* hier endet die anpassung an verschidene bildschirme*/