*{
    border-radius: 4px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgb(12,13,12);
    display: flex;
    height: 100svh;
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(238, 238, 238, 0.897);
    overflow: hidden;
}


#body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ab hier ist alles für die navigationsleisen*/

#nav-bar-container{
    position: fixed;
    left: 0px;
    height: 100svh;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    background:rgb(39,39,38);
    border-right: solid 1px rgb(68, 68, 68);
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.4s ease-in-out;
}

#nav-bar-header{
    display: grid;
}

#iserv-logo{
    width: 90px;
    padding-left: 20px;
    padding-top: 20px;
}

#nav-bar-überschrift{
    padding-top: 10px;
   color: rgb(133, 133, 133);
}

#profile-bild{
    width: 30px;
}

#account-details {
    color: white;
    background-color: rgb(29, 29, 29);
    width: 200px;
    max-height: 32px;
    min-height: 32px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px rgb(68, 68, 68);
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#account-details[open] {
    max-height: 225px;
    min-height: 225px;
}


#account-details summary{
    list-style: none;
}

#account-details summary span{
    position: relative;
    padding-left:5px;
    bottom: 8px;
    font-size: 15px;
}

#account-details a{
    color: white;
    text-decoration: none;
    padding: 8px;
    padding-left: 13px;
    display: flex;
    font-size: 13px;
}

#dropdown-pfeil-bild{
    position: relative;
    width:18px ;
    left: 30px;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

#account-details[open] summary #dropdown-pfeil-bild {
    transform: rotate(720deg);
}

#underline{
    position: relative;
    height: 3px;
    width: 115%;
    right: 15px;
    background-color:rgb(39,39,38);
}

#account-details a:hover{
    background-color: rgba(71, 71, 71, 0.589);
}

#account-details a span{
    padding-left: 8px;
}

#account-details a img{
    height: 20px;
}


#modul-suchfeld{
    width: 240px;
    height: 35px;
    min-height: 35px;
    padding-left: 10px;
    background-color:transparent;
    box-shadow: inset 0px 0px 2px;
    border:none;
}

#Schnellzugriff-überschrift{
    color: rgb(133, 133, 133);
    padding-right: 120px;
    font-size: 15px;
}

.link-container{
    width: 210px;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    display: flex;
    transition: 0.35s ease-in-out;
    text-decoration: none;
}

.link-container:hover{
    background-color: rgba(45, 161, 255, 0.158) ;
    transform: scale(115%);
    
}

.link-container span{
    padding-left: 20px;
    padding-top: 5px;
}

.link-container img{
    width: 30px;
}


#alle-module{
    width: 250px;
    max-height: 32px;
    min-height: 32px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#alle-module[open]{
    max-height: 1000px;
    min-height: 1000px;
}

#nav-bar-container::-webkit-scrollbar{
    width: 0;
    }

    #impressum-link{
        color: rgba(255, 255, 255, 0.616);
        text-decoration: none;
    }

/* Ab hier sind alle objekte die in der navbar top sind*/

#nav-bar-container-top{
width: 100svw;
height: 40px;
right: 0px;
background-color: rgb(0,28,51);
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 0;
}

#nav-bar-button{
    position: fixed;
    margin-left: 264px;
    background-color: transparent;
    border: solid 2px rgb(1,85,153);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    left: 0px;
    transition: left 0.4s ease-in-out;
}

#nav-bar-button img{
    height: 20px;
}

#datein-icon,
#startseiten-icon{
    position: fixed;
    left: 300px;
    margin-left: 10px;
    color: rgb(238, 238, 238);
    text-decoration: none;
    transition: left 0.4s ease-in-out;
}

#datein-icon{
    left: 425px;
}

#startseiten-icon img,
#datein-icon img{
    height: 23px;
}

#datein-icon span,
#startseiten-icon span{
    position: relative;
    bottom: 6px;
}


#hilfe-button{
    margin-left: auto;
    margin-right: 20px;
    padding: 6px;
    border: solid 2px  rgb(7, 120, 212) ;
    color: rgb(23, 199, 243);
    text-decoration: none;
    font-size: 12px;
}

/*hier endet die navigationsleisten*/

/* Ab hier ist der rest der auf der Dateinseite zu sehen ist*/

#start-seiten-haupt-container {
    gap: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.075);
    width: calc(97.5svw - 265px); /* 100% abzüglich der Breite von #nav-bar-container */
    height: calc(100svh - 60px); /* 100% abzüglich der Höhe von #nav-bar-container-top */
    margin-top: 8svh; 
    margin-left: 270px; 
    transition: 0s ease-in-out;
    overflow-y: hidden;
}


#datein-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 5%;
    padding: 10px;
    background-color: rgba(78, 78, 78, 0.164);
}

.datein-header-link-container{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    transition: ease-in-out 0.27s;
}

.datein-header-link-container:hover{
    background-color: rgba(2, 141, 255, 0.301);
    border-bottom: solid 2px rgb(2, 238, 255);
    transform: scale(107%);
}

.datein-header-link-container span{
    position: relative;
    bottom: 8px;
}


#datein-hader2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    width: 99%;
    max-height:20px ;
}

#Erweitert-dropdown-menu summary,
#Hinzufügen-dropdown-menu summary{
    cursor: pointer;
    list-style: none;
    padding: 5px;
    width: 110px;
    text-align: center;
    background-color: rgba(0, 183, 255, 0.247);
    border: solid 1px rgb(0, 225, 255);
}

#Hinzufügen-dropdown-menu{
    max-height:32px;
    min-height: 32px;
    transition: ease-in-out 0.25s;
    overflow: hidden;
}

#hinzufügen-plus-bild{
width: 10px;
white-space: nowrap;
}

#Hinzufügen-dropdown-menu[open]{
    max-height: 335px;
    min-height: 335px;
    background-color: rgba(0, 238, 255, 0.055);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


#Erweitert-dropdown-menu {
    padding: 5px;
    padding-top: 3px;
    max-height: 32px;
    min-height: 32px;
    max-width: 120px;
    min-width: 120px;
    transition: ease-in-out 0.25s;
}

#Erweitert-dropdown-menu[open]{
    max-height: 200px;
    min-height: 65px;
    max-width: 260px;
    min-width: 260px;
    background-color: rgba(0, 238, 255, 0.055);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#Erweitert-dropdown-menu img{
    height: 20px;
    width: auto;
    margin-right: 5px;
}

#Erweitert-dropdown-menu span{
    white-space: nowrap;
}

#Erweitert-dropdown-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    color: rgb(187, 187, 187);
    text-decoration: none;
}

#Erweitert-dropdown-menu a:hover{
    cursor: pointer;
    background-color: rgba(0, 238, 255, 0.055);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}


#zurücksetzen-bestätigungs-container{
    position: absolute;
    margin-top: 200px;
    margin-left: 700px;
    width: 350px;
    height: 280px;
    background-color: rgba(0, 247, 255, 0.144);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    visibility: hidden;
}

#schlißen-button{
    cursor: pointer;
    margin-left: 315px;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.315);
    border: none;
}

#schlißen-button img{
    width: 27px;
    height: auto;
}

#zurücksetzen-überschrift{
    text-align: center;
}


#password-input{
    width: 300px;
    height: 50px;
    margin-left: 20px;
    border: solid 1px rgba(0, 238, 255, 0.13);
    background-color: rgba(0, 247, 255, 0.144);
    color: white;
    outline: none;
    text-align: center;
}

#password-input::placeholder{
    color: rgba(88, 188, 196, 0.918);
}

#password-falsch-text{
    font-size: 12px;
    margin-left: 125px;
    color: rgb(219, 31, 31);
    visibility: hidden;
}


#bestätigen-button{
    cursor: pointer;
    height: 30px;
    margin-left: 85px;
    margin-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
    border: none;
    background-color: rgba(0, 225, 255, 0.13);
    outline: none;
    color: rgba(255, 255, 255, 0.712);
    transition: ease-in-out 0.4s;
 
}

#bestätigen-button:hover{
    box-shadow: 0px 0px 15px rgba(0, 217, 255, 0.644);
    transform: scale(102%);
}



#datein-container{
    border: solid 1px grey;
    height: 80%;
    margin-top: 20px;
}


#suchfeld-container{
    display: flex;
    justify-content: right;
    width: 98%;
    
}

#datein-suchfeld{
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    transition: ease-in-out 0.25s;
    z-index: 0;
}

#datein-suchfeld:focus{
    border: solid 1px rgb(0, 195, 255);
   box-shadow:  0 0 25px rgb(12, 153, 235);
}


#datein-container table{
    border: solid 1px grey;
    width: 99%;
    margin: 10px;
    padding: 10px;
}

table{
    border-spacing: 0px;
}
 
td{
    border: solid 1px grey;
    text-align: center;
}

.datein-name{
text-align: left;
padding-left: 9%;
}

.datein-name span{
    position: relative;
    margin-left: 3%;
    bottom: 8px;
}

th{
    border: solid 1px grey;
}
/* hier sind die anpassungen an verschidenne bildschirme*/

/*Mobile*/
@media screen and (max-width:767px) {

    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }

    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #datein-icon{
        left: 165px;
    }
}
@media screen and (min-width:767px) and (max-width:1044px) {
    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }


    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #datein-icon{
        left: 165px;
    }
}

/*Tablet*/
@media screen and (min-width:767px) and (max-width:1500px) {


}

/*Desktop*/
@media screen and (min-width:1824px) {
    
}

/* hier endet die anpassung an verschidene bildschirme*/