*{
    border-radius: 4px;
    z-index: 1;
    color: white;
   margin: 0px;
   padding: 0px;
}


body{
    background-color: rgb(12,13,12);
    display: flex;
    height: 100svh;
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(238, 238, 238, 0.897);
    overflow: hidden;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ab hier ist alles für die navigationsleisen*/

#nav-bar-container{
    position: fixed;
    left: 0px;
    height: 100svh;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    background:rgb(39,39,38);
    border-right: solid 1px rgb(68, 68, 68);
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.4s ease-in-out;
}

#nav-bar-header{
    display: grid;
}

#iserv-logo{
    width: 90px;
    padding-left: 20px;
    padding-top: 20px;
}

#nav-bar-überschrift{
    padding-top: 10px;
   color: rgb(133, 133, 133);
}

#profile-bild{
    width: 30px;
}

#account-details {
    color: white;
    background-color: rgb(29, 29, 29);
    width: 200px;
    max-height: 32px;
    min-height: 32px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px rgb(68, 68, 68);
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#account-details[open] {
    max-height: 225px;
    min-height: 225px;
}


#account-details summary{
    list-style: none;
}

#account-details summary span{
    position: relative;
    padding-left:5px;
    bottom: 8px;
    font-size: 15px;
}

#account-details a{
    color: white;
    text-decoration: none;
}

#dropdown-pfeil-bild{
    position: relative;
    width:18px ;
    left: 30px;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

#account-details[open] summary #dropdown-pfeil-bild {
    transform: rotate(720deg);
}

#underline{
    position: relative;
    height: 3px;
    width: 115%;
    right: 15px;
    background-color:rgb(39,39,38);
}

#account-details a{
    padding: 8px;
    padding-left: 13px;
    display: flex;
    font-size: 13px;
}

#account-details a:hover{
    background-color: rgba(71, 71, 71, 0.589);
}

#account-details a span{
    padding-left: 8px;
}

#account-details a img{
    height: 20px;
}


#modul-suchfeld{
    width: 240px;
    height: 35px;
    min-height: 35px;
    padding-left: 10px;
    background-color:transparent;
    box-shadow: inset 0px 0px 2px;
    border:none;
}

#Schnellzugriff-überschrift{
    color: rgb(133, 133, 133);
    padding-right: 120px;
    font-size: 15px;
}

.link-container{
    width: 210px;
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    display: flex;
    transition: 0.35s ease-in-out;
    text-decoration: none;
}

.link-container:hover{
    background-color: rgba(45, 161, 255, 0.158) ;
    transform: scale(115%);
    
}

.link-container span{
    padding-left: 20px;
    padding-top: 5px;
}

.link-container img{
    width: 30px;
}


#alle-module{
    width: 250px;
    max-height: 32px;
    min-height: 32px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

#alle-module[open]{
    max-height: 1000px;
    min-height: 1000px;
}

#nav-bar-container::-webkit-scrollbar{
    width: 0;
    }


/* Ab hier sind alle objekte die in der navbar top sind*/

#nav-bar-container-top{
width: 100svw;
height: 40px;
right: 0px;
background-color: rgb(0,28,51);
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top: 0;
z-index: 0;
}

#nav-bar-button{
    position: fixed;
    margin-left: 264px;
    background-color: transparent;
    border: solid 2px rgb(1,85,153);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    left: 0px;
    transition: left 0.4s ease-in-out;
}

#nav-bar-button img{
    height: 20px;
}

#e-mail-icon,
#startseiten-icon{
    position: fixed;
    left: 300px;
    margin-left: 10px;
    color: rgb(238, 238, 238);
    text-decoration: none;
    transition: left 0.4s ease-in-out;
}

#e-mail-icon{
    left: 425px;
}

#e-mail-icon img,
#startseiten-icon img{
    height: 23px;
}

#e-mail-icon span,
#startseiten-icon span{
    position: relative;
    bottom: 6px;
}


#hilfe-button{
    margin-left: auto;
    margin-right: 15px;
    padding: 6px;
    border: solid 2px  rgb(7, 120, 212) ;
    color: rgb(23, 199, 243);
    text-decoration: none;
    font-size: 12px;
}

/*hier endet die navigationsleisten*/



#start-seiten-haupt-container {
    display: flex;
    gap: 20px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.075);
    width: calc(98svw - 265px); /* 100% abzüglich der Breite von #nav-bar-container */
    height: calc(100svh - 60px); /* 100% abzüglich der Höhe von #nav-bar-container-top */
    margin-top: 8svh; 
    margin-left: 270px; 
    transition: 0s ease-in-out;
    overflow:hidden;
}



#E-mail-verfassen-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 174, 255);
    background-color: rgb(19, 118, 231);
    padding: 3px;
    text-decoration: none;
    color: rgb(235, 235, 235);
    width: 150px;
    height: 30px;
}


#E-mail-verfassen-link img{
height: 30px;
}


#postfächer-dropdown-menu{
    display: grid;
    background-color: rgba(23, 77, 121, 0.781) ;
    border: solid 1px rgb(102,186,255);
    width: 120px;
    max-height: 30px;
    margin-left: 80em;
}

#postfächer-dropdown-menu[open]{
    max-height: 130px;
}



#postfächer-dropdown-menu summary{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 7px;
}

#postfächer-dropdown-menu summary img{
height: 25px;
}




/* hier sind die anpassungen an verschidenne bildschirme*/

/*Mobile*/
@media screen and (max-width:767px) {



    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }

    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #e-mail-icon{
        left: 165px;
    }

}
@media screen and (min-width:767px) and (max-width:1044px) {
    #start-seiten-haupt-container{
        margin-left: 10px;
        width: calc(98svw - 20px);
        flex-wrap: wrap;
        padding: 8px;
    }

    #nav-bar-container{
        left: -260px;
    }

    #nav-bar-button{
        left: -258px;
    }

    #startseiten-icon{
        left: 40px;
    }

    #e-mail-icon{
        left: 165px;
    }

}

/*Tablet*/
@media screen and (min-width:767px) and (max-width:1500px) {
    
}

/*Desktop*/
@media screen and (min-width:1824px) {
    
}

/* hier endet die anpassung an verschidene bildschirme*/